<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--configuration的子元素节点有顺序限制-->
    <properties resource="mysql.properties"></properties>

    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource="IUserMapper.xml"></mapper>-->
        <!--这里会根据这个name.replace('.','/')来推断路径，所以要根据包名新建目录，然后把这个放在目录下。-->
        <package name="com.lou.mybatisgen.mapper"/>
    </mappers>

</configuration>